// app global css in SCSS form

.hover-animate {
  transition: transform 0.3s ease;
}

.hover-animate:hover {
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
